* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, button {
  font: 400 1rem "Inter", sans-serif;
}

.adminSideBarAdjust {
  display: flex;
}

.quantity-btn {
  margin: 0 5px;
  filter: invert(29%) sepia(95%) saturate(1633%) hue-rotate(158deg) brightness(91%) contrast(101%);
  transition: 288ms;
}

.quantity-btn:hover {
  filter: invert(90%) sepia(81%) saturate(7322%) hue-rotate(153deg) brightness(103%) contrast(92%);
  transition: 288ms;
  width: 38px;
}
