.ordersPageContainer {
  margin: 40px auto;
  width: 70vw;
}

.ordersPageContainer h2 {
  margin: 20px 10px;
}

.ordersContainer {
  display: flex;
  flex-wrap: wrap;
}

.ordersContainer a {
  text-decoration: none;
  color: black;
}

.noOrders {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 100vw;
  height: 85vh;
}
