.ordersPageContainer {
  margin: 40px auto;
  width: 90vw;
}

.ordersPageContainer h2 {
  margin: 20px 10px;
}

.ordersContainer {
  display: flex;
  flex-wrap: wrap;
}

.ordersContainer a {
  text-decoration: none;
  color: black;
}
