.productsPageContainer {
  display: flex;
  flex-direction: column;
}

.checkoutBtnContainer {
  width: 100%;
  height: 3rem;
  background-color: white;
  position: fixed;
  bottom: 0;

  display: flex;
  align-items: center;
}

.checkoutBtn {
  border: none;
  background-color: darkcyan;
  color: white;
  margin: 0 auto;
  height: 2rem;
  border-radius: 5px;
  width: 30%;
  font-size: 1.3rem;
  transition: background-color 0.2s;
}

.checkoutBtn button:hover {
  background-color: rgba(0, 128, 128, 0.7);
  cursor: pointer;
}

.productsContainer {
  margin: 10vh 0;
  display: flex;
  flex-wrap: wrap;
}