.productCardContainer {
  width: 30vh;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.productCardContainer img {
  height: 10rem;
}

.productCardContainer p {
  margin: 4px 0;
}

.quantityContainer {
  display: flex;
  margin-top: 5px;
}

.quantityContainer p {
  font-size: 1.5rem;
}

.quantityContainer button {
  border-radius: 5px;
  margin: 0 10px;
  width: 1.7rem;
  height: 2rem;
  font-size: 1.4rem;
}